<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width, initial-scale=1.0">
<meta name='mind map' content="Jutja visualize your project">
<meta name='jutja' content='mindmap your project'>
<link rel="shortcut icon" href="/img/logo.svg">
<title>Jutja</title>
<link href="/css/home.min.css" rel=stylesheet id="theme-style">
<link href="/css/font_home.css" rel=stylesheet >
<style type="text/css">
	.jutja_try:hover{
		background-color: #3276b1;
		border-color: #285e8e;
	}
	.jutja_try{
		background-color: #194B77; border-radius: 10px;
	}
</style>
</head>
<body data-spy=scroll>
<header id=top class="header navbar-fixed-top" style="background-color:#3488CF">
<div class=container>
<h1 class="logo pull-left">
<a class=scrollto href="/#promo" style="text-decoration:none;font-family:Decorative;font-size:25px;">
<img id=logo-image class=logo-image src="/img/logo.svg" alt=Logo>
<span class=logo-title>Jutja<span style="font-size:12px">Alpha</span></span>
</a>
</h1>
<nav id=main-nav class="main-nav navbar-right" role=navigation>
<div class=navbar-header>
<button class=navbar-toggle type=button data-toggle=collapse data-target="#navbar-collapse">
<span class=sr-only>Toggle navigation</span>
<span class=icon-bar></span>
<span class=icon-bar></span>
<span class=icon-bar></span>
</button>
</div>
<div class="navbar-collapse collapse" id=navbar-collapse>
<ul class="nav navbar-nav" style="font-size:16px;">
<li class="nav-item "><a class=scrollto href="/#promo">Home</a></li>
<li class="nav-item "><a class=scrollto href="/#features">Features</a></li>
<li class=nav-item><a class=scrollto style="display:none;" href="/#how">How it works</a></li>
<li class=nav-item><a class=scrollto href="/#story">Team</a></li>
<li class="nav-item"><a class=scrollto href="/#contact">Contact</a></li>
<li class=nav-item><a  href="/login">Login</a></li>
<li class="nav-item last"><a  href="/signup">SignUp</a></li>
</ul>
</div>
</nav>
</div>
</header>
<section id=promo class="promo section offset-header has-pattern">
<div class=container>
<div class=row>
<div class=overview style=text-align:center>
<h1 class="title animated fadeInUp delayp1" style="opacity: 0;">Project Management Simplified!!!</h1>
<div class="summary animated fadeInUp delayp2" style="opacity: 0;font-size:25px;">
<div>Mind-Map your Projects</div>
<div>Visualize projects like never before</div>
<br>
<div> <a href="/signup" style="color:#fff"><button class="jutja_try" style="color: #fff; padding: 5px;">Give Jutja a Try</button></a></div>
</div>
</div>
</div>
</div>
</section>
<section id=features class="features section">
<div class=container style="text-align:center;">
<h3><b>What is a Mind-Mapped Task?</b></h3>
<p>Its renovated Sticky Notes mingled with goodness of flowcharts. Spreadsheets & email threads are History. Work with your Team in realtime.</p>
<hr>
</div>
<div class=container>
<div class=row>
<h2 class="title text-center sr-only">Features</h2>
<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
<div class="icon animated fadeInUp delayp1" style="opacity: 0;">
<i class="jutja icon-friend"></i>
</div>
<div class=content>
<h3 class=title>User-friendly</h3>
<p>Easy interface requiring no specialized training and minimum technical jargon.No Classes needed. </p>
</div>
</div>
<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
<div class="icon animated fadeInUp delayp1" style="opacity: 0;">
<i class="jutja icon-efficient"></i>
</div>
<div class=content>
<h3 class=title>Efficient</h3>
<p>Assign tasks, have discussions and follow deadlines in real time minimising confusion and complication.</p>
</div>
</div>
<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
<div class="icon animated fadeInUp delayp1" style="opacity: 0;">
<i class="jutja icon-collab"></i>
</div>
<div class=content>
<h3 class=title>Collaborate in Realtime</h3>
<p>Now work with your globally located team members, without any time lags and hindrances.</p>
</div>
</div>
</div>
<div class=row>
<div class="item col-md-4 col-sm-6  col-xs-12 text-center">
<div class="icon animated fadeInUp delayp1" style="opacity: 0;">
<i class="jutja icon-support"></i>
</div>
<div class=content>
<h3 class=title>Always at your service</h3>
<p>24X7X365 Support. We listen Patiently and reply immediately.</p>
</div>
</div>
<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
<div class="icon animated fadeInUp delayp1" style="opacity: 0;">
<i class="jutja icon-config"></i>
</div>
<div class=content>
<h3 class=title>Easy Configuration</h3>
<p>Simpler the better.No complex menus. Get Started to speed immediately! </p>
</div>
</div>
<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
<div class="icon animated fadeInUp delayp1" style="opacity: 0;">
<i class="jutja icon-love"></i>
</div>
<div class=content>
<h3 class=title>Crafted With Love</h3>
<p>We work day and night to ensure you get the best .</p>
</div>
</div>
</div>
</div>
</section>
<section id=story class="story section has-pattern">
<div class=container>
<div class=row>

</div>
</div>
</div>
</section>
<section id=contact class="contact section has-pattern">
<div class=container>
<div class="row text-center">
<h2 class=title style="opacity: 0;">Contact Us</h2>
<div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3" style="opacity: 0;">
<p>Have a question or any kind of feedback.<br> Our Founders will personally respond to all your queries. To get Superfast no nonsense, no sales pitch response, Email us right now.</p>
<ul class="list-unstyled contact-details">
<li><i class="icon-mail" style="margin-right:10px;"></i><a href="mailto:support@jutja.com">bhanu@jutja.com</a></li>
</ul>
</div>
</div>
<div class="row text-center" style="display:none;">
<div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3" style="opacity: 0;">
<form class=form>
<div class="form-group name">
<label class=sr-only for=name>Name</label>
<input id=name class=form-control placeholder=Name:>
</div>
<div class="form-group email">
<label class=sr-only for=email>Email</label>
<input id=email type=email class=form-control placeholder=Email:>
</div>
<div class="form-group message">
<label class=sr-only for=message>Message</label>
<textarea id=message class=form-control rows=6 placeholder=Message:></textarea>
</div>
<button type=submit class="btn btn-lg btn-theme">Send Message</button>
</form>
</div>
</div>
</div>
</section>
<footer class=footer>
<div class=container style="display:none;">
<small class="copyright pull-left">Copyright © 2014 Jutja </small>
<ul class="links list-inline">
<li><a href="/#">Terms</a></li>
<li><a href="/#">Privacy</a></li>
</ul>
</div>
</footer>
<script src="/js/home.min.js"></script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-51082124-1','auto');ga('send','pageview');</script>
</body>
</html>
