<!DOCTYPE html>
<title>Reset Your Password
</title>
<head>
	<link rel="stylesheet" type="text/css" href="css/reset_password.css">
   <link rel="stylesheet" type="text/css" href="https://jutja.com/css/home_boot.css" />
          <link href="https://jutja.com/css/homestyle.css" rel="stylesheet" id="theme-style">

</head>
<body data-spy="scroll">
 <!-- ******HEADER****** --> 
    <header id="top" class="header navbar-fixed-top" style="background-color:#3488CF">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="https://jutja.com/" style="text-decoration:none;font-family:Decorative;font-size:25px;">
                    <img id="logo-image" class="logo-image" src="https://jutja.com/img/logo.svg" alt="Logo">

                    <span class="logo-title">Jutja</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav" style="font-size:16px;">
                        <li class="nav-item "><a class="scrollto" href="https://jutja.com/">Home</a></li>
                        <li class="nav-item "><a class="scrollto" href="https://jutja.com/login">Login</a></li>
                        <li class="nav-item"><a class="scrollto" href="https://jutja.com/signup">Signup</a></li>
                        <li class="nav-item"><a class="scrollto" href="https://jutja.com/resetpassword">Forgot Password</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->           
        </div>
    </header><!--//header-->

    </nav> -->
<div class="reset">
<img alt="Jutja-logo" class="logo"  height="100" src="img/logo.svg">
<form class = "reset-form" action="/reset-password" id="log_in" method="GET">
<legend>Reset Password</legend>
<input id="user_email" required label="false" name="email" placeholder="Email Address" size="30" type="email" value="">
<input name="commit" type="submit" value="Reset Password">
</form>
</div>
</body>
