#d {
    width: 200px;
    background: #EEE;
    padding: 20px 30px 20px 30px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DADADA;
}
#submit_del {
    background-color: #D9534F;
    border-color: #D43F3A;
    color: #FFF;
    padding: 6px 12px;
    margin-left:50px;
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-lg {
    vertical-align: -15%;
    font-size: 1.33333em;
    line-height: 0.75em;
}
#submit_del:hover {
    background: #CF7A7A
}

#d-bg { 
        position: fixed; 
        height: 100%;
        width: 100%;
        background: #000;
        background: rgba(0,0,0,.8);
        z-index: 100;
        display: none;
        top: 0;
        left: 0; 
        }

         #d {
        top: 100px; 
        left: 70%;
        margin-left: -300px;
        width: 300px;
        position: absolute;
        z-index: 101;
        padding: 30px 40px 34px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
        -box-shadow: 0 0 10px rgba(0,0,0,.4);
        }
    
  