.signup {
font-family: "proxima-nova";
padding: 30px 0 0 0;
}
.signup-form{
	width: 500px;
	margin: 0 auto;
	font-family: "proxima-nova";
}
.signup .logo {
display: block;
margin: 0 auto 30px;
}
.signup img[Attributes Style] {
height: 100px;
}
.signup-form legend{
	width: 100%;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	margin: 0 0 30px 0;
}
.signup-form input[type='text'], .signup-form input[type='password'], .signup-form input[type='submit'], .signup-form input[type='email'] {
display: block;
margin: 0 auto 18px auto;
width: 323px;
text-align: center;
border-radius: 3px;
color: #2d2d2d;
outline: none;
font-family: inherit;
}
.signup-form input[type='text'], .signup-form input[type='password'], .signup-form input[type='email'] {
border: 1px #c1c1c1 solid;
height: 50px;
font-size: 18px;
}
.signup-form input[type='submit'] {
color: #fff;
background: #3686bb;
border: none;
height: 57px;
width: 327px;
font-size: 15px;
font-weight: 400;
outline: 0;
text-transform: uppercase;
letter-spacing: 1.5px;
cursor: pointer;
}
.signup-form input:hover[type='submit'] {
background-color: #2b6a93;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.signup-form .footer {
text-align: center;
}
.signup-form .footer a:first-child {
border-bottom: solid 1px #ccc;
text-decoration: none;
}

