@CHARSET "UTF-8";

.node {
    background-color: #00a2e8;
    width: 10px;
    height: 10px;
    position: absolute;
}
.link {
    background-color: #999;
    position: absolute;
}

#graph1{
    position: absolute;
    vertical-align:middle;
    width: 100%;
    height: 100%;
}
#graph1 > svg {
    width: 100%;
    height: 100%;
}
#modal{
    align-content:flex-end;
}   
.button_example{
border:1px solid #999999; -webkit-border-radius: 42px; -moz-border-radius: 42px;border-radius: 42px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 15px 5px 15px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(255,255,255,0.3);font-weight:bold; color: #000000;
 background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
 background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.button_example:hover{
 border:1px solid #7A7A7A;
 background-color: #d4dee1; background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
 background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}
.close-reveal-modal{
border:1px solid #999999; -webkit-border-radius: 42px; -moz-border-radius: 42px;border-radius: 42px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 15px 5px 15px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(255,255,255,0.3);font-weight:bold; color: #000000;
 background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
 background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.close-reveal-modal:hover{
 border:1px solid #7A7A7A;
 background-color: #d4dee1; background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
 background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

